<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCmXuMTbQpQ63PdKgXbC9HQfN0VvXog0w</string>
	<key>GCM_SENDER_ID</key>
	<string>871941574415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doc2healDoctor</string>
	<key>PROJECT_ID</key>
	<string>doc2heal-doctor</string>
	<key>STORAGE_BUCKET</key>
	<string>doc2heal-doctor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871941574415:ios:40b5f6c1ba64c14595387a</string>
</dict>
</plist>